# =========================
# macOS
# =========================
.DS_Store

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Java / Maven
# =========================
backend/target/

# =========================
# Frontend
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS Temporary Files
# =========================
Thumbs.db
