# =========================
# macOS
# =========================
.DS_Store

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Java / Maven
# =========================
backend/target/

# =========================
# Frontend
# =========================
frontend/node_modules/
frontend/dist/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS Temporary Files
# =========================
Thumbs.db

# =========================
# Web / Node
# =========================
web/node_modules/
web/dist/

# =========================
# CLI / Node
# =========================
cli/node_modules/
cli/dist/
cli/src/**/*.js
cli/src/**/*.js.map
cli/src/**/*.d.ts
cli/src/**/*.d.ts.map
